extends layout

block content
    h3 Flocknet Configuration
    .form-group
        label(for="sel1") Select Group
        select.form-control#sel1
            for item in data
                option(id="#{item.id}") #{item.name}