extends layout

block content
    h3 Flocknet Configuration

    .container
        form
            .form-group.row
                .col-sm-10
                    label(for="channels") Select Public Group To Add To Your Team
                .col-sm-10
                    input#channels.form-control(type='text', placeholder='Public Group', data-provide="typeahead", autocomplete="off")

            .form-group.row
                .col-sm-10
                    label(for="sel1") Select Group From Your Flock Team
                    select.form-control#sel1
                        for item in data
                            option(id="#{item.id}") #{item.name}

            .form-group.row
                .col-sm-10
                    label(for="inputIWebhook") Enter Incoming Webhook Url
                .col-sm-10
                    input#inputIWebhook.form-control(type='url', placeholder='Incoming Webhook Url')

            .form-group.row
                .col-sm-10
                    button.btn.btn-primary Submit

            .alert.alert-success(role="alert")#message

    script.
        userId = "#{userId}"