extends layout

block content
    h3 Flocknet Configuration
    fieldset.form-group
        legend Select Your Group
            each item in data
                .form-check
                    label.form-check-label
                        input(type="radio", class="form-check-input", name="optionsRadios", id="optionsRadios1", value="option1")
                        |  #{item.name}

