extends layout

block content
    h6.col-xs-10 Available Public Groups
    ul.list-group
        for item in data
            li.list-group-item.col-xs-10
                span.tag.tag-default.tag-pill.float-xs-right #{item.count}
                | #{item.name}